
/* cores 
#D7CEC7

#565656

#76323F

#C09F80 */

/* Reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata';
    box-sizing: border-box;
}

/* Grid geral */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr repeat(1, 82vh) .44fr;
    grid-template-areas: 
        "header header header"
        "midcontent midcontent midcontent"
        "footer footer footer"
}
/* Começo do header */
.header-container {
    background: #191919;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: #f3f3f3;
    font-weight: 300;
    font-size: 3vh;
}
/* Estilos do header */
.header-container span {
    color: #7c3e3e;
    font-size: 1.1em
}
.header-container h1 {
    padding: 20px;
}
/* Estilos do nav-menu */
.header-container ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
    background: #363636;
}
.header-container li {
    padding: 5px 10px 5px 10px;
    display: flex;
    transition: all .2s ease-in;
}
.header-container li a {
    font-size: .7em;
    color: #fdfdfd;
    text-decoration: none;
}
.header-container li:hover 
{
    background: #2e2e2e;
}
.header-container li a:hover {
    color: #8e3838;
}
.rightSide {
    display: flex;
}

/* Inicio midcontent */

.mid-container {
    grid-area: midcontent;
    display: flex;
    background: url('https://images3.alphacoders.com/848/848404.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    transition: all .5s ease in;
}

.mid-texts {
    color: #fdfdfd;
    padding: 20px;
}
.mainColor {
    transition: all .1s ease-in;
}
.mainColor:hover {
    color: #9f3030;
}
/* Começo do footer */
.footer-container {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #191919; 
}
footer h1 {
    font-family: monospace;;
    color: #5a1523;
}
.color {
    font-size: .8em;
    color: #f3f3f3;
}

/* Queries */
/* Querie pra landscape */
@media only screen and ( orientation : landscape) {
    .header-container li a {
    font-size: 1.5em;
}
    .header-container h1 {
        font-size: 3em;
    }
}
/* Queries padrão */
@media only screen and (max-width: 865px) {
    
    .mid-container {
        background-position: center center;
    
    }  
}

@media only screen and (max-width: 400px) {
    .mid-container {
    
    align-items: center;
}
    .header-container {
        font-size: 1.5em;
        
    }
    .header-container ul {
        justify-content: center;
    }
    
}
    
@media all and (min-width:866px) {
  .mid-container:hover {
   transition: all .5s ease in;
   background: url('https://orig00.deviantart.net/3231/f/2017/301/2/f/lain_oil_spill_by_yukikurihara-dbrzkxr.gif');
   background-size: cover;
   background-position: center center;
 }
}